{% extends "base.html" %}
​
{% block title %}Messagerie privée{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <div class="title text-center mt-5">
                <h1>Messagerie privée</h1>
                <br>
                <h3>Mes messages envoyés</h3>
            </div>
            {% if message_list %}
            <table class="table table-hover mt-5 mb-5">
                <thead class="thead-dark">
                    <tr>
                        <th>Destinataire</th>
                        <th>Sujet</th>
                        <th>Envoyé</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in message_list %}
                    <tr>
                        <td>{{ message.recipient }}</td>
                        <td><a href="{{ message.get_absolute_url }}">{{ message.subject }}</a></td>
                        <td>il y a {{ message.sent_at|timesince }}</td>
                        <td><a href="{% url "delete_message" message.pk %}">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="text text-center mt-5 mb-5">
                <h3>Vous n'avez envoyé aucun message</h3>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}