ENV=test
DATABASE_ENGINE="django.db.backends.postgresql"
DATABASE_NAME="db_test"
DATABASE_USER="postgres"
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_PORT=""
DJANGO_DEBUG="True"
DJANGO_SECRET_KEY="s3cr3t"
DJANGO_LANGUAGE_CODE="fr"
DJANGO_TIME_ZONE="Europe/Paris"
DJANGO_ALLOWED_HOSTS="your_django_allowed_host"