{% extends "base.html" %}

{% block title %}Mot de passe modifié{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signup flex-row my-5">
                <div class="card-body">
                    <legend class="card-title text-center">Votre mot de passe a été modifié avec succès !</legend>
                    <br>
                    <div class="card-info text-center">
                        <small class="text-muted">
                            Aller à la <a href="{% url 'home' %}">page d'accueil</a> ou sur vos <a
                                href="{% url 'edit_user_settings' %}">réglages utilisateur</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}