{% extends "base.html" %}

{% block title %}Changer de mot de passe{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signup flex-row my-5">
        <div class="card-body">
          <h4 class="card-title text-center">Changer de mot de passe</h4>
          <form class="form-signup" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              {{ form.as_p }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                id="submit-button">Modifier</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}