{% extends "base.html" %}

{% load static %}

{% block title %}Publications{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          {% for post in most_recent %}
          <!-- post -->
          <div class="post col-xl-6">
            <div class="post-thumbnail">
              <a href="{% url "post_detail" post.pk %}"><img src="{{ post.thumbnail.url}}" alt="..."
                  class="img-fluid" /></a>
            </div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="category">
                  {% for cat in post.categories.all %}
                  <a href="{% url "category" cat %}">{{ cat }}</a>
                  {% endfor %}
                </div>
              </div>
              <a href="{% url "post_detail" post.pk %}">
                <h3 class="h4">
                  {{post.title}}
                </h3>
              </a>
              {% if user.is_authenticated %}
              {% if user.id == post.author.id %}
              <div class="d-grid gap-2 d-flex justify-content-end">
                <a href="{% url "update_post" post.pk %}" class="mr-5"><i class="fas fa-edit"></i></a>
                <a href="{% url "delete_post" post.pk %}"><i class="fas fa-trash"></i></a>
              </div>
              {% endif %}
              {% endif %}
              <p class="text-muted">
                {{ post.overview|slice:":200" }}
              </p>
              <footer class="post-footer d-flex align-items-center">
                <a href="{% url "show_profile_page" post.author.profile.id %}"
                  class="author d-flex align-items-center flex-wrap">
                  <div class="avatar">
                    {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}" alt="..." class="img-fluid" />
                    {% else %}
                    <img src={% static 'img/default_profile_icon.jpg' %} alt="..." class="img-fluid" />
                    {% endif %}
                  </div>
                  <div class="title"><span>{{ post.author }}</span></div>
                </a>
                <div class="date">
                  <i class="icon-clock"></i> {{ post.created_on|timesince }}
                </div>
                <div class="comments meta-last">
                  <i class="icon-comment"></i>{{ post.comments.count }}
                </div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-template d-flex justify-content-center">
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="fa fa-angle-left"></i></a>
            </li>
            <li class="page-item">
              <a href="#" class="page-link active">1</a>
            </li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item">
              <a href="#" class="page-link">
                <i class="fa fa-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    {% include "sidebar.html" with most_recent=most_recent category_count=category_count %}
  </div>
</div>

{% endblock content %}