{% extends "base.html" %}

{% load static %}

{% block title %}Accueil{% endblock title %}

{% block content %}
<!-- Hero Section-->
<section style="
    background: url({% static 'img/hero.jpg' %});
    background-size: cover;
    background-position: center center;
  " class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1>La meilleure expérience d'une entraide mutuelle vient de vous !</h1>
        <a href="{% url 'register' %}" class="btn btn-primary" role="button" data-bs-toggle="button">S'inscrire</a><br>
        <small class="text-muted">
          Vous avez déjà un compte ? <a href="{% url 'login' %}" class="hero-link">Se connecter</a>
        </small>
      </div>
    </div>
    <a href=".intro" class="continue link-scroll"><i class="fa fa-arrow-down"></i></a>
  </div>
</section>
<!-- Intro Section-->
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">Mutadi</h2>
        <p class="text-big">
          A l’origine, Mutadi est la contraction du latin « mutuum adiutorium » qui signifie <strong>aide
            mutuelle</strong>. Mutadi est une plateforme web qui permet de créer du lien entre ceux qui ont besoin d’un
          <strong>soutien</strong> et ceux qui sont prêts à aider près de chez eux. L'idée est de reconstituer une
          entraide simple et <strong>gratuite</strong> qui puisse exister n’importe où et à
          travers toutes les générations.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Featured Posts -->
<section class="featured-posts no-padding-top">
  <div class="container">
    <header>
      <h2>Publications mises en avant</h2>
      <p class="text-big">
        Soutenez quelqu'un ou demandez de l'aide à la communauté.
      </p>
    </header>
    <!-- Post-->
    {% for post in featured_posts %}
    <div class="row d-flex align-items-stretch">
      {% if not forloop.first and not forloop.last %}
      <div class="image col-lg-5">
        <img src="{{ post.thumbnail.url }}" alt="..." />
      </div>
      {% endif %}
      <div class="text col-lg-7">
        <div class="text-inner d-flex align-items-center">
          <div class="content">
            <header class="post-header">
              <div class="category">
                {% for cat in post.categories.all %}
                <a href="{% url "category" cat %}">{{ cat }}</a>
                {% endfor %}
              </div>
              <a href="{% url "post_detail" post.pk %}">
                <h2 class="h4">
                  {{ post.title }}
                </h2>
              </a>
            </header>
            {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <div class="d-grid gap-2 d-flex justify-content-end">
              <a href="{% url "update_post" post.pk %}" class="mr-5"><i class="fas fa-edit"></i></a>
              <a href="{% url "delete_post" post.pk %}"><i class="fas fa-trash"></i></a>
            </div>
            {% endif %}
            {% endif %}
            <p>
              {{ post.overview|slice:":200" }}
            </p>
            <footer class="post-footer d-flex align-items-center">
              <a href="{% url "show_profile_page" post.author.profile.id %}"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar">
                  <img src="{{ post.author.profile.profile_pic.url }}" alt="..." class="img-fluid" />
                </div>
                <div class="title"><span>{{ post.author }}</span></div>
              </a>
              <div class="date"><i class="icon-clock"></i> {{ post.created_on|timesince }}</div>
              <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
            </footer>
          </div>
        </div>
      </div>
      {% if forloop.first or forloop.last %}
      <div class="image col-lg-5">
        <img src="{{ post.thumbnail.url }}" alt="..." />
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
<!-- Divider Section-->
<section style="
    background: url({% static 'img/divider-bg.jpg' %});
    background-size: cover;
    background-position: center bottom;
  " class="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <blockquote>
          <h2>
            "Il ne faut pas attendre d’être parfait pour commencer quelque chose de bien."
          </h2>
          <footer>— Abbé Pierre</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<!-- Latest Posts -->
<section class="latest-posts">
  <div class="container">
    <header>
      <h2>Dernières publications</h2>
      <p class="text-big">
        Soutenez quelqu'un ou demandez de l'aide à la communauté.
      </p>
    </header>
    <div class="row">
      {% for post in latest_posts %}
      <div class="post col-md-4">
        <div class="post-thumbnail">
          <a href="{% url "post_detail" post.pk %}"><img src="{{ post.thumbnail.url}}" alt="..."
              class="img-fluid" /></a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="category">
              {% for cat in post.categories.all %}
              <a href="{% url "category" cat %}">{{ cat }}</a>
              {% endfor %}
            </div>
          </div>
          <a href="{% url "post_detail" post.pk %}">
            <h3 class="h4">{{post.title}}</h3>
          </a>
          <p class="text-muted">
            {{ post.overview|slice:":200" }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}